 table , td, tr{
    border: 1px solid black;
    border-radius: 1px 1px 1px 1px;
    border-spacing: 0.5px 0.5px;
    text-align: center;
    empty-cells: hide;
    width: 600px;
    
    
}


td{
    height: 15px;
}
table{
    border: none;
}

h1{
    margin-bottom: 0px;
    font-size: 40pt;
    height: 60px;
    width: 600px;
    text-align: center;
    background-color: yellow;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.orangered{
    background-color: orangered;
}

.magenta{
    background-color: magenta;
    
}

.lightsalmon{
    background-color: lightsalmon;
}

.lightslatgrey{
    background-color: lightslategrey;
    
}

.salmon{
    background-color: salmon;
}

.lightgreen{
    background-color: lightgreen;
}

.lightblue{
    background-color: lightblue;
}

.series{
    background-color: salmon;
}